body {
    -webkit-box-align: center; 
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center; /* 수직 정렬 */

	-webkit-box-pack: center;
	-moz-box-pack: center; 
	-ms-flex-pack: center; 
	justify-content: center; /* 수평 정렬 */
}

#canvasContainer {
    background-image: url(../images/wheel_back.png);
    background-repeat: no-repeat;   /* Ensure that background does not repeat */
    background-position: center;    /* Ensure image is centred */
    width: 600px;                   /* Width and height should at least be the same as the canvas */
    height: 600px;
    margin: auto;
}

#userInfo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#betHolder{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bet {
    width: 80px;
    height: 30px;
    
}

#x1B{
    background-color: khaki;
}

#x3B{
    background-color:greenyellow;
}

#x5B{
    background-color:aqua;
}

#x10B{
    background-color :lightsalmon;
}

#x20B{
    background-color:lightcoral;
}

#rollingHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#bigButton {
	text-decoration:none;
	font-family:Arial;
	box-shadow:inset #ff0000 0px 5px 8px -1px,#c9c9c9 1px 3px 2px;
	o-box-shadow:inset #ff0000 0px 5px 8px -1px,#c9c9c9 1px 3px 2px;
	-moz-box-shadow:inset #ff0000 0px 5px 8px -1px,#c9c9c9 1px 3px 2px;
	-webkit-box-shadow:inset #ff0000 0px 5px 8px -1px,#c9c9c9 1px 3px 2px;
	background:#ff3030;
	background:-o-linear-gradient(90deg, #ff3030, #eb3d3d);
	background:-moz-linear-gradient( center top, #ff3030 5%, #eb3d3d 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff3030), color-stop(1, #eb3d3d) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3030', endColorstr='#eb3d3d');
	background:-webkit-linear-gradient(#ff3030, #eb3d3d);
	background:-ms-linear-gradient(#ff3030, #eb3d3d);
	background:linear-gradient(#ff3030, #eb3d3d);
	text-indent:0px;
	line-height:30px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:20px;
	color:#ffffff;
	width:100px;
	/* height:30px; */
	padding:13px;
	text-shadow:#7d7d7d 0px 1px 0px;
	border-color:#ffffff;
	border-width:2px;
	border-style:solid;
}

#bigButton:active {
	box-shadow:inset #ff0000 0px 5px 8px -1px,#c9c9c9 1px 0 2px;
	o-box-shadow:inset #ff0000 0px 5px 8px -1px,#c9c9c9 1px 0 2px;
	-moz-box-shadow:inset #ff0000 0px 5px 8px -1px,#c9c9c9 1px 0 2px;
	-webkit-box-shadow:inset #ff0000 0px 5px 8px -1px,#c9c9c9 1px 0 2px;
	position:relative;
	top:3px
}

#bigButton:hover {
	background:#eb3d3d;
	background:-o-linear-gradient(90deg, #eb3d3d, #ff3030);
	background:-moz-linear-gradient( center top, #eb3d3d 5%, #ff3030 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eb3d3d), color-stop(1, #ff3030) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb3d3d', endColorstr='#ff3030');
	background:-webkit-linear-gradient(#eb3d3d, #ff3030);
	background:-ms-linear-gradient(#eb3d3d, #ff3030);
	background:linear-gradient(#eb3d3d, #ff3030);
}
</style>